{% extends 'recipes/base.html' %}

{% block title %}
    Recipe page
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <h1>{{ recipe.name }}</h1>
        {% if request.user.is_authenticated %}
            {% if is_favourite %}
                <a class="btn btn-warning" href="{% url 'recipes:favourite' recipe.pk %}">Favourite</a>
            {% else %}
                <a class="btn btn-outline-warning" href="{% url 'recipes:favourite' recipe.pk %}">Favourite</a>
            {% endif %}
        {% endif %}
        <table class="table">
            <tr>
                <th>Recipe</th>
                <th>Ingredients</th>
            </tr>
            <tr>
                <td>{{ recipe.name }}</td>
                <td>
                    {% for ingredient in ingredients %}
                        {{ ingredient.name }};
                    {% endfor %}
                </td>
            </tr>
        </table>

        <h5>Description</h5>
        <p>{{ recipe.description }}</p>

        <table>
            <tr>
                {% if request.user.is_authenticated %}
                    <th><a class="btn btn-outline-warning" href="{% url 'recipes:update' recipe.pk %}">Edit</a></th>
                {% endif %}
                {% if request.user.is_staff %}
                    <th><a class="btn btn-outline-danger" href="{% url 'recipes:delete' recipe.pk %}">Delete</a></th>
                {% endif %}
                <th><a class="btn btn-outline-primary" href="{% url 'catalogues:catalogue' %}">Back</a></th>
            </tr>
        </table>
    </div>
{% endblock %}