{% extends 'recipes/base.html' %}

{% block title %}
    Recipe page
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <h1>{{ recipe.name }}</h1>
        {% if request.user.is_authenticated %}
            <form action="" method="POST">
            {% csrf_token %}
                <button class="btn btn-warning" type="submit">Remove Favourite {{ recipe.favourite_mark_remove }}</button>
                <button class="btn btn-outline-warning" type="submit">Add Favourite {{ recipe.favourite_mark_add }}</button>
                {% for message in messages %}
                    <p id="messages">{{ message }}</p>
                {% endfor %}
            </form>
        {% endif %}
        <table class="table">
            <tr>
                <th>Recipe</th>
                <th>Ingredients</th>
                {% if request.user.is_authenticated %}
                    <th>Favourite</th>
                {% endif %}
            </tr>
            <tr>
                <td>{{ recipe.name }}</td>
                <td>
                    {% for ingredient in ingredients %}
                        {{ ingredient.name }};
                    {% endfor %}
                </td>
                {% if request.user.is_authenticated %}
                    <td>{{ recipe.favourite }}</td>
                {% endif %}
            </tr>
        </table>

        <h5>Description</h5>
        <p>{{ recipe.description }}</p>

        <table>
            <tr>
                {% if request.user.is_authenticated %}
                    <th><a class="btn btn-outline-warning" href="{% url 'recipes:update' recipe.pk %}">Edit</a></th>
                {% endif %}
                {% if request.user.is_staff %}
                    <th><a class="btn btn-outline-danger" href="{% url 'recipes:delete' recipe.pk %}">Delete</a></th>
                {% endif %}
                <th><a class="btn btn-outline-primary" href="{% url 'catalogues:catalogue' %}">Back</a></th>
            </tr>
        </table>
    </div>
{% endblock %}