{% extends 'accounts/base.html' %}

{% block title %}
    Users page
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <!-- <h1>Users</h1>
        <table class="table">
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Second Name</th>
                <th></th>
            </tr>

            {% for user in users %}
                <tr>
                    <td><h5>{{ username }}</h5></td>
                    <td>{{ name.first_name }}</td>
                    <td>{{ name.last_name }}</td>
                    <td>
                        {% for group in groups %}
                            {{ group.name }}
                        {% endfor %}
                    </td>
                    <td><a class="btn btn-danger" href="{% url 'accounts:delete' user.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table> -->
    </div>
{% endblock %}