{% extends 'catalogues/base.html' %}

{% block title %}
    Catalogue page
{% endblock %}

{% block content %}
    <h1>Catalogue</h1>
    <table class="table">
        <tr>
            <th>Recipe</th>
            {% if request.user.is_authenticated %}
                <th>Favourite</th>
            {% endif %}
            <th></th>
            {% if request.user.is_staff %}
            <th></th>
            {% endif %}
        </tr>

        {% for recipe in recipes %}
            <tr>
                <td><h5>{{ recipe.name }}</h5></td>
                {% if request.user.is_authenticated %}
                    <td>{{ recipe.favourite }}</td>
                {% endif %}
                <td><a class="btn btn-outline-info" href="{% url 'recipes:recipe' recipe.pk %}">View</a></td>
                {% if request.user.is_staff %}
                    <td><a class="btn btn-outline-danger" href="{% url 'recipes:delete' recipe.pk %}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}