{% extends 'catalogues/base.html' %}

{% block title %}
    <h1>Catalogue page</h1>
{% endblock %}

{% block content %}
    <h1>Catalogue</h1>
    <table class="table">
        <tr>
            <th>Recipe</th>
            <th>Favourite</th>
            <th></th>
            <th></th>
        </tr>

        {% for x in recipes %}
            <tr>
                <td><h5>{{ x.name }}</h5></td>
                <td>{{ x.favourite }}</td>
                <td><a href="{% url 'recipes:recipe' x.pk %}">View</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}