{% extends 'catalogues/base.html' %}

{% block title %}
    Search page
{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form method="GET">
        {{ recipeFilter.form.as_p }}
        <button class="btn btn-info" type="submit">Search</button>
    </form>

    <table class="table">
        {% for x in recipes %}
            <tr>
                <td><h5>{{ x.name }}</h5></td>
                <td>{{ x.favourite }}</td>
                <td><a class="btn btn-info" href="{% url 'recipes:recipe' x.pk %}">View</a></td>
                {% if request.user.is_authenticated %}
                    <td><a class="btn btn-warning" href="{% url 'recipes:new' %}">Edit</a></td>
                {% endif %}
                {% if request.user.is_staff %}
                    <td><a class="btn btn-danger" href="{% url 'recipes:delete' x.pk %}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}